<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Feature Id="CoreFeatures" Title="Shadow Play Renamer core features" Level="1" Absent="disallow" AllowAdvertise="no" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="Core" />
      <ComponentGroupRef Id="Service" />
      <FeatureRef Id="CliFeature" />
      <!--<FeatureRef Id="DebugSymbols" />-->
    </Feature>
    <Feature Id="CliFeature" Level="2" Title="Command-line interface">
      <ComponentGroupRef Id="CLI" />
    </Feature>
    <!--<Feature Id="DebugSymbols" Level="2" Title="Command-line interface">
      <ComponentGroupRef Id="CLI" />
    </Feature>-->
  </Fragment>
</Wix>
