<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Shadow Play Renamer" Language="1033"
           Version="!(bind.FileVersion.SPRCORE.DLL)"
           Manufacturer="Adam L. Shepherd"
           UpgradeCode="8c26fd92-3e4d-4d86-827d-ee704bab38bd">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Condition Message='This program is only supported on Windows Vista or later.'><![CDATA[VersionNT >= 600]]></Condition>
    <MajorUpgrade DowngradeErrorMessage="A newer version of Shadow Play Renamer is already installed." />
    <UIRef Id="SPRUI"/>
    <MediaTemplate />
    <FeatureRef Id="CoreFeatures" />
    <WixVariable Id="WixUILicenseRtf" Value="gpl-3.0.rtf" />
  </Product>
</Wix>