<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- This key contains the path to monitor for video file recordings. This key is required. -->
    <add key="MonitorPath" value=""/>
    <!--
    This key holds the delay to wait between each attempt to rename a file. The value is in milliseconds,
    and the should be formatted in a way that the program understands it.
    -->
    <add key="RetryDelay" value="10000"/>
    <!--
    These keys are optional and controls the file name dissection and renaming process. The default values are present in the value key.
    
    Pattern: This is a regular expression, and should contain 3 named groups: name, date and time.
      Date and time should contain only the date and time portion of the file when the regex is applied.
    OutputFormat: The format of the output.
      The first argument ('{0}') is what the regex pattern found in the 'name' group.
      The second argument is the date/time value found in the 'date' and 'time' groups.
    InputDateFormat and InputTimeFormat: The date and time format of the input file name to parse the date as.
    
    The '<' and '>' characters can be written as &lt; and &gt; respectively.
    Regular expressions and formatting should be provided in the way defined in the .NET framework documentation:
    Regular Expression Language - Quick Reference:
      https://docs.microsoft.com/en-us/dotnet/standard/base-types/regular-expression-language-quick-reference
    Custom Date and Time Format Strings:
      https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings
    -->
    <!--
    <add key="Pattern" value="(?&lt;name&gt;.*)\s+(?&lt;date&gt;\d{2}\.\d{2}\.\d{4}) - (?&lt;time&gt;\d{2}\.\d{2}\.\d{2}.\d{2})"/>
    <add key="OutputFormat" value="{0} {1:yyyy\.MM\.dd} - {1:HH\.mm\.ss\.ff}"/>
    <add key="InputDateFormat" value="MM\.dd\.yyyy"/>
    <add key="InputTimeFormat" value="hh\.mm\.ss\.ff"/>
    -->
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <!-- Valid switch values: All, Verbose, Critical, Error, Warning, Information, ActivityTracing -->
      <source name="ShadowPlayRenamerSvc" switchValue="Critical,ActivityTracing">
        <listeners>
          <!-- Set the file to a valid path, to enable trace listener logging. -->
          <add name="svclog" initializeData=".\SPRSVC.svclog" type="System.Diagnostics.XmlWriterTraceListener"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>