<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?define ShadowPlayRenamerSvc_TargetDir=$(var.ShadowPlayRenamerSvc.TargetDir)?>
  <?define ShadowPlayRenamerCore_TargetDir=$(var.ShadowPlayRenamerCore.TargetDir)?>
  <?define ShadowPlayRenamer_TargetDir=$(var.ShadowPlayRenamer.TargetDir)?>
  <Product Id="*" Name="SPRSetup" Language="1033" Version="1.0.0.0" Manufacturer="" UpgradeCode="faf62961-291c-4437-b430-07c81084e258">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="CoreFeatures" Title="Shadow Play Renamer core features" Level="1" Absent="disallow">
      <ComponentGroupRef Id="Core" />
    </Feature>
    <Feature Id="CoreFeatures" Title="Shadow Play Renamer service" Level="2">
      <ComponentGroupRef Id="Service" />
    </Feature>
    <Feature Id="CoreFeatures" Title="Shadow Play Renamer command-line interface" Level="2">
      <ComponentGroupRef Id="CLI" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SPR" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="Core" Directory="INSTALLFOLDER">
      <Component Id="SPRCore.dll" Guid="bcb9395d-da2c-424a-854d-8c7b40bac671">
        <File Id="SPRCore.dll" Name="SPRCore.dll" Source="$(var.ShadowPlayRenamerCore_TargetDir)SPRCore.dll" />
      </Component>
      <Component Id="SPRCore.pdb" Guid="0b05dcb9-579f-45e9-9e1f-30840a0bdabc">
        <File Id="SPRCore.pdb" Name="SPRCore.pdb" Source="$(var.ShadowPlayRenamerCore_TargetDir)SPRCore.pdb" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="Service" Directory="INSTALLFOLDER">
      <Component Id="SPRSVC.exe" Guid="30c11a7a-af3c-41c3-93f2-7546c20fff88">
        <File Id="SPRSVC.exe" Name="SPRSVC.exe" Source="$(var.ShadowPlayRenamerSvc_TargetDir)SPRSVC.exe" />
      </Component>
      <Component Id="SPRSVC.exe.config" Guid="24a24d8d-0584-418f-9d19-87517a764718">
        <File Id="SPRSVC.exe.config" Name="SPRSVC.exe.config" Source="$(var.ShadowPlayRenamerSvc_TargetDir)SPRSVC.exe.config" />
      </Component>
      <Component Id="SPRSVC.pdb" Guid="122b6ef2-321c-449e-a23b-ae9017d4265c">
        <File Id="SPRSVC.pdb" Name="SPRSVC.pdb" Source="$(var.ShadowPlayRenamerSvc_TargetDir)SPRSVC.pdb" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="CLI" Directory="INSTALLFOLDER">
      <Component Id="SPRCLI.exe" Guid="6d99788d-26ee-436b-9d63-6ecc6112c327">
        <File Id="SPRCLI.exe" Name="SPRCLI.exe" Source="$(var.ShadowPlayRenamer_TargetDir)SPRCLI.exe" />
      </Component>
      <Component Id="SPRCLI.exe.config" Guid="a07edc55-6f84-4b42-aabd-1ac88448567d">
        <File Id="SPRCLI.exe.config" Name="SPRCLI.exe.config" Source="$(var.ShadowPlayRenamer_TargetDir)SPRCLI.exe.config" />
      </Component>
      <Component Id="SPRCLI.pdb" Guid="46460d10-7951-4a23-b1ad-be59605e42ba">
        <File Id="SPRCLI.pdb" Name="SPRCLI.pdb" Source="$(var.ShadowPlayRenamer_TargetDir)SPRCLI.pdb" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
